Flask==2.3.3
flask-cors==3.0.10
transformers==4.41.2
torch==2.7.1
torchvision==0.22.1
torchaudio==2.7.1
ctransformers==0.2.27
Pillow>=10.4.0
numpy==1.26.4
googletrans==3.1.0a0
requests==2.31.0
sentence-transformers==2.7.0
scikit-learn==1.5.0
pandas==2.2.2
huggingface-hub==0.23.0
gunicorn==21.2.0
